In [5]:
import random
import pickle
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
with open('slice.pkl','rb') as f:
    chat_slice = pickle.load(f)

切片规则：

如果上一条消息和这条消息时间相距30分钟以上，则切开，形成段落

## 数据的条数分布

In [12]:
chat_count = [0] * len(chat_slice)
for i,c in enumerate(chat_slice):
    chat_count[i] = c.shape[0]

总的段落数量：

In [13]:
len(chat_count)

863

段落长度的频数表（前30位）：

In [24]:
pd.value_counts(chat_count).head(30)

1     248
2     142
3      95
4      57
5      43
6      29
7      23
9      21
8      16
10     14
13     12
14      8
16      8
11      8
26      7
15      7
17      7
24      6
25      6
12      6
18      6
29      5
22      4
27      4
49      4
32      3
20      3
54      2
57      2
33      2
dtype: int64

## 查看具体某一个段落

In [35]:
chat_slice[72]

            dteventtime    chatcontent
969 2023-06-19 11:09:07          11w+来
970 2023-06-19 11:11:29          你战力低了
971 2023-06-19 11:32:41  战力11w+想进战队的加我
972 2023-06-19 11:38:17         有没有强来打
973 2023-06-19 11:40:49      12 w 以上的来
974 2023-06-19 11:42:29        想跳槽的我欢迎
975 2023-06-19 11:51:47         跳啥跳傻子吧
976 2023-06-19 11:52:25        什么孬子都来了
977 2023-06-19 12:04:16          挂狗，晚秋
978 2023-06-19 12:13:39    怎么把你踢了你不服气？

## 段落随机十连

In [40]:
for i in range(10):
    idx = random.randint(0,len(chat_slice))
    print('索引: ', idx)
    display(chat_slice[idx])

索引:  673

              dteventtime                chatcontent
13014 2023-07-14 12:11:01  我这个铠都没培养，tmd，为什么最强小队一直有他呀
13015 2023-07-14 12:31:27                          ？
13016 2023-07-14 12:47:48                        没人吗
13017 2023-07-14 12:49:08                      那必然是有
13018 2023-07-14 13:05:25     带束花赴约战队收人  战力35w的家人们快来

索引:  602

              dteventtime    chatcontent
12766 2023-07-09 14:25:29           有人吗？
12767 2023-07-09 14:30:15              有
12768 2023-07-09 14:50:41            鹅鹅鹅
12769 2023-07-09 14:52:57        大乔绝版了吗？
12770 2023-07-09 15:01:10  6 3 0 4 2 6近战
12771 2023-07-09 15:03:56           有人嘛？
12772 2023-07-09 15:28:25   坠落a战队收人28万申请

索引:  492

              dteventtime      chatcontent
11658 2023-07-01 04:51:13  更没得说技能跟移动键按键都没了
11659 2023-07-01 04:51:34       这修复到底修复了个啥

索引:  60

            dteventtime chatcontent
775 2023-06-18 08:27:15           。

索引:  129

             dteventtime chatcontent
1522 2023-06-24 10:24:31           1

索引:  587

              dteventtime chatcontent
12715 2023-07-08 18:19:23          不是

索引:  594

              dteventtime               chatcontent
12728 2023-07-09 00:32:25                        全败
12729 2023-07-09 00:33:38                       这这这
12730 2023-07-09 00:39:15                         。
12731 2023-07-09 01:07:48  貂蝉大乔李白澜，说到底只会玩个大乔，碰到就是晦气
12732 2023-07-09 01:11:43                      啊啊啊？
12733 2023-07-09 01:13:23               糕手溪，实名觉得他恶心
12734 2023-07-09 01:42:23                         ？
12735 2023-07-09 01:42:55                  说的你好像换过似
12736 2023-07-09 01:43:18               咋的？只能玩不会的是吧

索引:  665

              dteventtime    chatcontent
13002 2023-07-14 02:04:05  86级主线就一百级了真离谱

索引:  113

             dteventtime chatcontent
1411 2023-06-23 07:11:42          哈喽

索引:  513

              dteventtime    chatcontent
12031 2023-07-02 19:54:56         小队战斗谁来
12032 2023-07-02 20:04:35          有人单挑吗
12033 2023-07-02 20:07:37             我来
12034 2023-07-02 20:17:54         901888
12035 2023-07-02 20:18:15         914235
12036 2023-07-02 20:38:56  乱斗有没有一起来送三把的？
12037 2023-07-02 20:57:01  真服了，被同一个人吃了三把
12038 2023-07-02 21:00:55             嘿嘿
12039 2023-07-02 21:13:31         钻石怎么刷快
12040 2023-07-02 21:25:38            有人吗
12041 2023-07-02 21:52:32          一起玩加我
12042 2023-07-02 22:07:26         597206
12043 2023-07-02 22:29:27          一起玩的！
12044 2023-07-02 22:59:14         129351
12045 2023-07-02 23:26:00         351597